{
  "*.{js,ts,tsx}": [
    "yarn lint --fix",
    "yarn format",
    "git add"
  ],
  "*.{json,md,yml}": [
    "yarn format"
  ],
  "**/*.scss": [
    "stylefmt",
    "stylelint '**/*.scss' --fix",
  ]
}